*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-color: #ffa587;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: #fbe9e9;
  main {
    width: 50%;
    padding-bottom: 50px;
  }
}

#quiz-item {
  background: $primary-color;
  margin: 10px;
  padding: 10px;
  border-radius: 1rem;
  span:nth-child(1) {
    font-size: 1rem;
  }
  ul {
    margin-top: 0.5rem;
  }
  li {
    list-style-type: none;
    span {
      font-weight: 300;
    }
  }
}

#acertos {
  background: #0c2d57;
  color: $primary-color;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
}
